.artwork-list {
  list-style-type: none;
  display: flex;
  overflow: scroll;
  gap: 20px;
}

.artwork-list li {
  margin-bottom: 20px;
  width: fit-content;
}

.artwork-list img {
  object-fit: cover;
  height: 400px;
  border-radius: 8px;
}

.artwork-list img:hover {
  height: 410px;
  transition: 0.5s;
  background-color: rgb(202, 234, 202);
  opacity: 0.3;
}

@media (max-width: 375px) {
  .artwork-list li {
    width: 100%;
    font-size: 12px;
  }

  .artwork-list img {
    height: 350px;
  }

  .author {
    font-size: 12px;
  }
}
