.modal-container {
  display: flex;
  height: 100%;
}

.cta-section,
.form-section {
  width: 50%;
  text-align: center;
}

.form-group label {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

.loginbtn {
  background-color: #6acb91;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  border-radius: 4px;
}

.signUpbtn {
  background-color: #6acb9101;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: whitesmoke;
  padding: 12px 12px 12px 12px;
  margin-top: 12px;
  border-radius: 4px;
  border: solid #6acb91 0.5px;
}

.loginbtn:hover {
  background-color: #429c66;
  transition: 0.3s;
}

.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(#33737dac, #1c222786),
    url('/src/assets/modal_background.webp');
}

.cta-section h1 {
  margin-bottom: 10px;
  color: whitesmoke;
}

.cta-section p {
  margin-bottom: 20px;
  color: whitesmoke;
}

.cta-section button {
  padding: 10px 20px;
  font-size: 16px;
}

.form-section {
  padding: 20px;
}

.form-section input {
  border: none;
  border-radius: 4px;
}

.form-section textarea {
  border: none;
  border-radius: 4px;
}

.form-section select {
  border: none;
  border-radius: 4px;
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-group-1 {
  display: flex;
  gap: 10px;
}

.form-group-1 div {
  flex-basis: 33%;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button[type='submit'] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
