.comment-section {
  margin-top: 16px;
}

.comment-section button[type='submit'] {
  width: 150px;
  border-radius: 4px;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-submitbtn {
  background-color: #073ca6;
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  font-weight: 100;
}

.comment-box {
  width: 80%;
  height: 150px;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
}

.comment-list {
  list-style: none;
  margin-top: 25px;
}

.comment-list li {
  margin-top: 25px;
}

.comment-list p {
  margin-top: 6px;
}

.comment-btns {
  margin-top: 12px;
  display: flex;
}

.inner {
  width: 100%;
}

.comment-list button {
  margin-right: 26px;
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #0b95e0e2;
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  font-weight: 100;
  letter-spacing: 0.8px;
}

.comment-list button:hover {
  background-color: #086597;
  transition: 0.3s;
}

@media (max-width: 375px) {
  .comment-section {
    height: fit-content;
  }

  .comment-section h1 {
    font-size: 16px;
  }
}
