/* Header.css */
.header {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 200px;
  background-image: url('../assets/banner_img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links ul,
.right-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;

  align-items: center;
}

.left-links ul li,
.right-links ul li {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
}

.logo h1 {
  font-size: 34px;
}

.logo p {
  font-size: 18px;
}

.sign-up {
  background-color: #33333300;
  border: solid 1px #6acb91;
}

.search-bar {
  display: flex;

  align-items: center;
}

.search-bar form {
  display: flex;
  align-items: center;
  width: 550px;
}

.search-bar input {
  padding: 8px;
  width: 2000px;
  height: 24px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.search-btn {
  border: none;
  background-color: #6acb91;
  border-radius: 0px 6px 6px 0px;

  padding: 0px 12px 0px 0px;
}

.search-bar button:hover {
  background-color: #3c9761;
  transition: 0.3s;
}

.user {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.user h2 {
  font-size: 14px;
}

.user img {
  height: 50px;
  border-radius: 250px;
}

@media (max-width: 375px) {
  .header {
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }

  .search-bar form {
    width: 250px;
  }

  .search-bar input {
    padding: 8px;
    height: 24px;
  }

  .main-nav {
    flex-direction: column;
  }

  .logo h1 {
    font-size: 34px;
  }

  .logo p {
    font-size: 12px;
  }

  .left-links,
  .right-links {
    margin-top: 10px;
  }

  .right-links button {
    font-size: 10px;
  }

  .search-bar {
    margin-top: 10px;

    height: 150px;
  }

  .search-bar input {
    width: 100%;
  }

  .search-bar button {
    padding: 14px;
  }
}
