/* AboutUs.css */

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.about-us-info {
  width: 40%;
}

.about-us-info h2 {
  margin-bottom: 10px;
}

.about-us-image img {
  height: 450px;
  border-radius: 8px;
}

.about-us-info p {
  line-height: 1.8em;
  font-size: 14px;
}

@media (max-width: 375px) {
  .about-us {
    flex-direction: column;
  }

  .about-us-info {
    width: 100%;
  }

  .about-us-image {
    width: 100%;
  }

  .about-us-image img {
    width: 100%;
  }

  .about-us-info h2 {
    margin-top: 10px;
    font-size: 22px;
  }

  .about-us-info p {
    font-size: 12px;
    line-height: 1.4em;
  }
}
