.artwork-detail {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.artwork-image {
  display: flex;
  justify-content: center;
}

.artwork-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artwork-info h2 {
  margin-bottom: 10px;
  font-weight: 500;
}

.artwork-info p {
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.hashtags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  border: solid 1px blue;
}

.hashtags li {
  margin-right: 10px;
  margin-bottom: 5px;
}

@media (max-width: 375px) {
  .artwork-detail {
    flex-direction: column;
  }

  .artwork-info {
    width: 100%;
  }

  .artwork-info p {
    font-size: 12px;
  }

  .artwork-image {
    width: 100%;
  }
  .menu-list {
    justify-content: center;
  }

  .artwork-image img {
    width: 100%;
    height: 400px;
  }
}
