/* ArtworkPage.css */

.artwork {
  padding: 8px;
}

.artwork-page {
  text-align: center;
  width: 1650px;
}

.artwork-title {
  margin-bottom: 20px;
}

.artwork hr {
  margin-top: 24px;
}

.category-menu h1 {
  margin-bottom: 12px;
}

.artwork-categories {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.artwork-categories h1 {
  margin-bottom: 26px;
}

.artwork-categories li {
  margin-bottom: 26px;
  background-color: #6d7798;
  padding: 12px 30px 12px 30px;
  border-radius: 6px;
}

.artwork-categories button {
  padding: 16px;
  background-color: #6d7798;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
}

.artwork-categories button:hover {
  background-color: #7086ce;
  transition: 0.3s;
}

@media (max-width: 375px) {
  .artwork {
    padding: 0px;
    height: 100%;
  }

  .artwork-title {
    margin-bottom: 10px;
  }

  .artwork-title h1 {
    margin-top: 12px;
    font-size: 18px;
  }

  .artwork-title p {
    font-size: 12px;
  }

  .artwork-page {
    flex-direction: column;
    width: 100%;
  }

  .artwork-categories {
    overflow: scroll;
  }

  .artwork-categories li {
    margin-bottom: 3px;
    height: fit-content;
    margin-right: 15px;
  }

  .artwork-categories button {
    margin-bottom: 3px;
    height: 26px;
    font-size: 12px;
    height: 50px;
  }

  .artwork-categories li {
    font-size: 10px;
    padding: 6px 15px 6px 15px;
    margin-bottom: 14px;
  }
}
