@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

div {
  border: 1px solid red;
}

body {
  background-color: #241e1f;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  font-weight: 600;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  font-weight: 600;
}

p {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
}

.outlet-wrapper {
  display: flex;
}

.category-menu {
  padding: 8px;
  text-align: center;
  width: 190px;
}

.menu-links li {
  margin-top: 12px;
}

.cta-btn {
  padding: 12px 24px 12px 24px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;
  background-color: #5cdf90eb;
}
