@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

div {
  border: 1px solid red;
}

body {
  background-color: #241e1f;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
}

.cta-btn {
  padding: 12px 24px 12px 24px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
  background-color: #6acb91;
}
