.profile-wrapper {
  background-color: #241e1f;
  width: 100%;
  align-items: center;
}

.profile {
  display: flex;
  padding: 12px;
  background-color: #3e3a31;
}

.profile button {
  border-radius: 4px;
}

.profile button:hover {
  background-color: #3ab56beb;
  transition: 0.3s;
}

.profile-pic {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.profile-pic img {
  height: 200px;
  border-radius: 250px;
}

.profile-info {
  flex-basis: 50%;
  padding: 20px;
}

.profile-info h2 {
  margin-bottom: 0px;
  font-size: 36px;
}

.profile-info h3 {
  font-weight: 400;
  margin-top: 8px;
}

.profile-info h4 {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 8px;
}

.profile-info p {
  margin-top: 4px;
  font-size: 14px;
}

.edit-btn-box {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}
.user-artworks {
  margin-top: 40px;
  padding: 15px;
}
.user-artworks ul {
  border: solid;
}
.user-artworks h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-artworks button:hover {
  background-color: #3ab56beb;
  transition: 0.3s;
}

.user-artworks li button {
  padding: 12px 24px 12px 24px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15em;
  background-color: #2488ebeb;
  border: none;
  border-radius: 4px;
}

@media (max-width: 375px) {
  .profile {
    flex-direction: column;
  }

  .profile-wrapper {
    height: 100%;
  }

  .profile-pic img {
    height: 100px;
  }

  .profile-info {
    margin-top: 14px;
  }

  .profile-info h2 {
    font-size: 26px;
  }

  .profile-info h3 {
    font-size: 12px;
  }

  .profile-info h4 {
    font-size: 10px;
  }
  .profile-info p {
    font-size: 10px;
  }

  .profile-info button {
    font-size: 10px;
  }

  .user-artworks {
    height: 100%;
    overflow: scroll;
  }

  .user-artworks h3 {
    flex-direction: column;
    gap: 20px;
  }

  .user-artworks ul {
    justify-content: center;
    width: 100%;
    margin-top: 25px;
  }

  .user-artworks li {
    border: solid;
  }

  .user-artworks li button {
    margin-top: 4px;
    padding: 8px 24px 8px 24px;
  }

  .user-artworks img {
    height: 150px;
    width: 100%;
  }

  .user-artworks {
    font-size: 10px;
  }

  .user-artworks button {
    font-size: 10px;
  }
}
