.wrapper {
  background-color: #241e1f;
  width: 100%;
  align-items: center;
}

.profile {
  display: flex;
  margin-top: 30px;
}

.profile button {
  border-radius: 4px;
}

.profile button:hover {
  background-color: #3ab56beb;
  transition: 0.3s;
}

.profile-pic {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.profile-pic img {
  height: 200px;
  border-radius: 250px;
}

.profile-info {
  flex-basis: 50%;
  padding: 20px;
}

.profile-info h2 {
  margin-bottom: 0px;
  font-size: 36px;
}

.profile-info h3 {
  font-weight: 400;
  margin-top: 8px;
}

.profile-info h4 {
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 8px;
}

.profile-info p {
  margin-top: 4px;
  font-size: 14px;
}

.edit-btn-box {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}
.user-artworks {
  margin-top: 40px;
  padding: 15px;
}

.user-artworks h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-artworks button:hover {
  background-color: #3ab56beb;
  transition: 0.3s;
}
