/* Search.css */

.resource-page {
  text-align: center;
  padding: 20px;
  width: 1640px;
}

.resource-title h1 {
  margin-bottom: 20px;
  color: whitesmoke;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;

  font-size: 40px;
}

@media (max-width: 375px) {
  .resource-title {
    margin-bottom: 10px;
  }

  .resource-categories {
    flex-wrap: wrap;
  }

  .resource-categories li {
    margin-bottom: 3px;
  }

  .resource-categories li {
    font-size: 10px;
    padding: 6px 15px 6px 15px;
    margin-bottom: 14px;
  }
}
